body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30px;
    background-color: black;
}

div {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#audio-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stop-button{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#audio-button,
#stop-button {
    background-color: #ffb3ed;
    border-radius: 100px;
    box-shadow: rgba(112, 44, 44, 0.2) 0 -25px 18px -14px inset,#630b42 0 1px 2px,#630b42 0 2px 4px,#630b42 0 4px 8px,#630b42 0 8px 16px,#630b42 0 16px 32px;
    color: #630b42;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#audio-button:hover,
#stop-button:hover {
  box-shadow: #630b42 0 -25px 18px -14px inset,#630b42 0 1px 2px,#630b42 0 2px 4px,#630b42 0 4px 8px,#630b42 0 8px 16px,#630b42 0 16px 32px;
  transform: scale(1.05) translate(-50%, -50%);
}

#voucher {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    transform: rotate(-10deg);
}

#daddy {
    position: relative;
    height: 30vw;
    width: auto;
    border-radius: 5%;
    margin: 5px;
    box-shadow: 0px 0px 20px #fff;
    justify-content: center;
    align-items: center;
}

#jenny,
#simon {
    position: relative;
    height: 20vw;
    width: auto;
    border-radius: 10%;
    margin: 5px;
    box-shadow: 0px 0px 20px #fff;
    justify-content: center;
    align-items: center;
}

@keyframes swing {
    0%, 100% {transform: rotate(-30deg);}
    20% {transform: scale(.95);}
    50% {transform: rotate(30deg);}
    80% {transform: scale(.95);}
}
  
#jenny,
#simon,
#daddy {
    animation: swing 1s infinite ease-in-out;
}

.glow {
    font-size: 50px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.glow2 {
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow2 {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}